h2 {
  text-align: center;
  padding:0;
}

.swap {
  float: left;
  margin-top: -7px;
}

#game select {
  width: 100%;
}

#results {
  width: 100%;
}

#rankgrid {
  text-align: center;
}

#graph {
  width: 100%;
  overflow: hidden;
  height: 300px;
  margin-top: 20px;
}

.flotr-legend {
  font-size: 12px;
}

.team1score, .team2score {
  padding-left: 7px;
  padding-right: 7px;
}

.btn-group {
  text-align: center;
}
